.neon-letters {
    display: flex;
    justify-content: center;
    gap: 0.1em;
}

.neon-char {
    display: inline-block;
    position: relative;
}

.neon-char::before {
    content: attr(data-char);
}

.neon-letters h1 {
    font-size: 14vw;
    font-family: 'Monoton-Regular', monospace;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    user-select: none;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
    will-change: opacity, text-shadow;
}


@media (min-width: 666px) {
    .neon-letters h1 {
        font-size: 80px;
        text-shadow: none;
        user-select: none;
    }
}

@keyframes neonGlow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 22px #fff,
            0 0 40px #42dcdb, 0 0 60px #42dcdb, 0 0 80px #42dcdb,
            0 0 100px #42dcdb, 0 0 140px #42dcdb, 0 0 200px #42dcdb;
    }

    100% {
        text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 10px #fff,
            0 0 20px #42dcdb, 0 0 30px #42dcdb, 0 0 40px #42dcdb,
            0 0 50px #42dcdb, 0 0 80px #42dcdb, 0 0 100px #42dcdb;
    }
}