.motivation-quote-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.motivation-quote {
    position: relative;
    justify-self: center;
    margin: auto;
}

.motivational-quote-placeholder {
    visibility: hidden;
}

.motivation-quote p {
    font-size: 1.2rem;
    font-family: 'Orbitron-Regular', monospace;
    color: white;
    margin: 0;
}

.motivation-author {
    position: relative;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
}

.animated-text {
    position: absolute;
    top: 0;
}


@media (min-width: 666px) {
    .motivation-quote {
        max-width: 80dvw;
    }
}