.header {
    padding: 1rem;
    width: fit-content;
    justify-self: center;
}

header h1 a {
    text-decoration: none;
}

h1 {
    font-size: 14vw;
    font-family: 'Monoton-Regular', monospace;
    color: white;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    animation: neonGlow 4s infinite alternate ease-in-out;
    will-change: text-shadow;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px#acecec,
        0 0 20px #42dcdb;
}


p {
    font-size: 1rem;
    font-family: 'Orbitron-Regular', monospace;
    color: white;
    margin: 0;
}

a {
    color: white;
    text-decoration: underline
}

a:hover {
    color: white;
}

@media (min-width: 666px) {
    h1 {
        font-size: 80px;
    }

    p {
        font-size: 20px;
    }
}

@keyframes neonGlow {

    0%,
    100% {
        text-shadow:
            0 0 5px #ffffff,
            0 0 10px#acecec,
            0 0 20px #42dcdb;
    }

    50% {
        text-shadow:
            0 0 2px #ffffff,
            0 0 5px #acecec,
            0 0 10px #42dcdb;
    }
}