:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Monoton-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Monoton-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Orbitron-Regular.woff2') format('woff2');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-content: center;
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}


.light-theme {
  background: linear-gradient(-45deg, #f3aed1, #e266c7, #85dcf0, #2193b0);
  background-size: 400% 400%;
  animation: gradientMove 40s ease-in-out infinite;
}

.dark-theme {
  background: linear-gradient(-45deg, #000000, #1b3742, #8705b1, #0b2834);
  background-size: 400% 400%;
  animation: gradientMove 40s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 30%;
  }

  50% {
    background-position: 90% 40%;
  }

  100% {
    background-position: 0% 30%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:focus-visible {
  outline: 3px solid #646cff;
  outline-offset: 3px;
  border-radius: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}