:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Monoton-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Monoton-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Orbitron-Regular.woff2') format('woff2');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.light-theme::before {
  contain: layout paint;
  overflow: hidden;
  content: '';
  z-index: -100;
  position: fixed;
  top: -200%;
  left: 0;
  width: 400vw;
  height: 400vh;
  background: linear-gradient(-45deg, #cc35ab, #e266c7, #85dcf0, #2193b0);
  animation: gradientMove 40s linear infinite;
  will-change: transform;
}

.dark-theme::before {
  contain: layout paint;
  overflow: hidden;
  content: '';
  z-index: -100;
  position: fixed;
  top: -200%;
  left: 0;
  width: 400vw;
  height: 400vh;
  background: linear-gradient(-45deg, #000000, #1b3742, #8705b1, #0b2834);
  animation: gradientMove 40s linear infinite;
  will-change: transform;
}

@keyframes gradientMove {
  0% {
    transform: translate(-75%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-75%, 0);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:focus-visible {
  outline: 3px solid #646cff;
  outline-offset: 3px;
  border-radius: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}