.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.hidden {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.settings-container {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

@media (min-width: 769px) {
    .settings-container {
        top: 0.5rem;
        bottom: auto;
    }
}

.settings-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 6px;
    color: #ffffff69;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.settings-panel {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.settings-toggle .theme-button {
    width: 50%;
}

.settings-toggle:hover,
.settings-toggle:focus-visible {
    color: white;
}

.setting-group {
    display: flex;
    gap: 0.5rem;
}